.navLinkBlock {
    display: flex;
    align-items: center;
    .nav-item {
        padding: .2rem .5rem;
        .navlinks {
            text-decoration: none;
            color: $dark-grey;
        }
    }
    @include breakpoint(mobile) {
        display: none;
    }
}
.headerRightBlock {
    text-align: end;
    .authBlock {
        .auth-links-list {
            list-style: none;
            display: inline-flex;
            .auth-links {
                padding: .2rem .5rem;
                .navlinks {
                    text-decoration: none;
                    color: $dark-grey;
                }
            }
        }
        @include breakpoint(mobile) {
            display: none;
        }
    }
    @include breakpoint(mobile) {
        padding-right: unset;
    }
}
.cartBlock {
    float: right;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 135px;
      @include breakpoint(mobile) {
        padding: 8px;
        width: 120px;
      }
      img {
        width: 35px;
        color: $primary;
        @include breakpoint(mobile) {
          width: 25px;
        }
      }
      span {
        margin-left: 8px;
        @include breakpoint(mobile) {
          font-size: 14px;
        }
      }
    }
  }
  
.show {
    .modal-dialog {
        min-width: 650px;
        position: absolute;
        right: 12%;
        top: 60px;
        @include breakpoint(mobile) {
            width: 100%;
            min-width: unset;
            margin: 0;
            right: unset;
            top: 75px;
        }
    }
    .modal-content {
        border-radius: unset;
        .modal-header {
            background-color: $dark-green;
            color: $white;
            border-radius: unset;
        }
        .btn-close {
            color: $white;
            opacity: 1;
        }
        .modalContent {
            display: flex;
            background-color: $white !important;
        }
        .modalFooter {
            border-top: none;
        }
        .modal-body {
            align-items: center;
            min-height: 65vh;
            background-color: $light-grey;
            padding: 0;
            .cartempty{
                flex-grow: inherit;
                text-align: center;
            }
            .cartItems {
                display: flex;
                align-items: center;
                background-color: $white;
                margin: 16px 0;
                .cartItemsImageWrapper {
                    width: 20%;
                }
                .cartItemsDetails {
                    width: 80%;
                    padding-left: 16px;
                    .cartItemsHeading {
                        margin-bottom: pxToEm(8px);
                    }
                    .cartItemsPriceQty {
                        button {
                            background-color: $primary;
                            color: $white;
                            border-radius: 50%;
                            border: none;
                            width: 23px;
                            padding: 0;
                        }
                        span {
                            margin: 0 16px;
                            &:last-child {
                            float: right;
                            margin-left: 12px;
                            }
                        }
                    }
                }
            }
            .cartItemsLine {
                display: flex;
                align-items: center;
                background-color: $white;
                padding: 16px;
                margin: 16px;
                border-radius: 5px;
                span {
                    padding-left: 20px;
                }
            }
        }
        .modal-footer {
            .emptyCartFooter {
                width: 100%;
            } 
            .startShopping {
                width: 100%;
                border-radius: 5px;
                padding: 16px;
            }
            .promoCode {
                width: 100%;
                .promoCodeDesc {
                    text-align: center;
                    margin-bottom: 8px;
                }
                .promoCodeButton {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    padding: 16px;
                    color: $white;
                    background-color: $primary;
                    border: none;
                    border-radius: 5px;
                    .promoCodeButtonPrice {
                        &:after {
                            content: "\003E";
                            padding-left: 4px;
                        }
                    }
                }
            }
        }
    }
}
